html {
  position: relative;
  background-color: #fafafa;
  color: #1e1e1e; }

.kss-sidebar {
  padding: 0.6em 1em;
  background: #1e1e1e;
  color: white; }
  @media (min-width: 768px) {
    .kss-sidebar {
      position: fixed;
      width: 20%;
      height: 100%;
      overflow: auto;
      padding: 1.5em 0 0;
      border-bottom: 0; } }

.kss-header__link {
  color: white;
  text-align: center; }

.kss-header__title {
  font-size: 1.8em;
  line-height: 1.1; }

@media (min-width: 768px) {
  .kss-header {
    padding: 0 1.5em;
    margin: 2em 0; }
    .kss-header__link {
      text-align: left; } }

.kss-main {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .kss-main {
      width: 80%;
      margin-left: 20%;
      padding: 4em; } }

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  @media (min-width: 768px) {
    .kss-nav__menu {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      text-align: left; } }
  .kss-nav__menu-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; }
    @media (min-width: 768px) {
      .kss-nav__menu-child {
        display: block; } }
    .kss-nav__menu-child .kss-nav__menu-item .kss-nav__menu-link {
      padding-left: 1.8em;
      border-left: 6px solid rgba(255, 255, 255, 0.1); }
  .kss-nav__menu-item {
    display: inline-block; }
    @media (min-width: 768px) {
      .kss-nav__menu-item {
        display: block;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
        .kss-nav__menu-item:last-child {
          border: 0; } }

.kss-nav__menu-link {
  display: inline-block;
  padding: 0.2em 0.25em;
  color: currentColor; }
  @media (min-width: 768px) {
    .kss-nav__menu-link {
      display: block;
      padding: 0.6em 1em; } }
  .kss-nav__menu-link:hover, .kss-nav__menu-link:focus, .kss-nav__menu-link:active, .kss-nav__menu-link.is-in-viewport {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none; }
    .kss-nav__menu-link:hover .kss-nav__name, .kss-nav__menu-link:focus .kss-nav__name, .kss-nav__menu-link:active .kss-nav__name, .kss-nav__menu-link.is-in-viewport .kss-nav__name {
      text-decoration: underline; }
    .kss-nav__menu-link:hover .kss-nav__ref, .kss-nav__menu-link:focus .kss-nav__ref, .kss-nav__menu-link:active .kss-nav__ref, .kss-nav__menu-link.is-in-viewport .kss-nav__ref {
      text-decoration: none;
      opacity: 0.8; }

.kss-nav__ref {
  font-weight: bold;
  opacity: 0.2;
  margin-right: 0.3em; }

.kss-section {
  margin-bottom: 1.75em; }
  @media (min-width: 768px) {
    .kss-section {
      margin-bottom: 3.75em; } }

.kss-title--level-1 {
  margin-bottom: 0.8em; }

.kss-title--level-2 {
  margin-bottom: 0.8em; }

.kss-title__permalink {
  color: #1e1e1e; }
  .kss-title__permalink:hover, .kss-title__permalink:focus, .kss-title__permalink:active {
    text-decoration: none; }
    .kss-title__permalink:hover .kss-title__permalink-hash, .kss-title__permalink:focus .kss-title__permalink-hash, .kss-title__permalink:active .kss-title__permalink-hash {
      opacity: 0.6; }

.kss-title__permalink-hash {
  opacity: 0;
  margin-left: 0.5em;
  text-decoration: none; }

.kss-title__ref {
  font-size: 0.4em;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  opacity: 0.6;
  text-decoration: none; }

.kss-overview,
.kss-description {
  font-size: 16px;
  line-height: calc(2px + 2.3ex + 2px);
  max-width: 38em; }
  @media (min-width: 768px) {
    .kss-overview,
    .kss-description {
      font-size: 18px; } }
  .kss-overview code,
  .kss-description code {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.2em;
    font-size: 0.8em; }
  .kss-overview a,
  .kss-description a {
    color: #2b60b5;
    text-decoration: underline; }
  .kss-overview h1,
  .kss-overview h2,
  .kss-overview h3,
  .kss-overview h4,
  .kss-overview h5,
  .kss-overview h6,
  .kss-description h1,
  .kss-description h2,
  .kss-description h3,
  .kss-description h4,
  .kss-description h5,
  .kss-description h6 {
    margin-bottom: 0.4em; }

.kss-modifier__wrapper pre,
.kss-markup pre {
  margin: 0; }

.kss-markup {
  font-size: 2em; }

.kss-modifier__heading {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0; }

.kss-modifier {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  overflow: hidden; }
  .kss-modifier:last-child {
    border-bottom: 0; }

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5em; }

.kss-modifier__description {
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em; }

.kss-markup__button {
  margin-top: 0.8em;
  background-color: #ebebeb;
  padding: 0.2em 0.5em;
  border: 0; }

.kss-source {
  margin: 1em 0;
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em; }

.kss-colors {
  float: left;
  box-shadow: 0 0 0.4em 0.2em rgba(0, 0, 0, 0.1);
  margin: 0.4em; }

.kss-color {
  float: left; }

.kss-color__swatch {
  width: 12em;
  height: 15em;
  padding: 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.kss-color__desc {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold; }

.kss-color__code {
  font-size: 0.9em; }

.kss-wrapper {
  background: #ddd;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0; }

.kss-row {
  overflow: hidden;
  background: #999;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
  color: #fff; }

.kss-grid {
  overflow: hidden;
  background: #666;
  min-height: 2em;
  padding: 0.2em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

[aria-hidden='true'][aria-labelledby*='a11y-toggle'],
[data-a11y-toggle]:not([aria-controls]) {
  display: none; }
