// Grid utilities
//
// Helpers for grid. Overrides all other properties with !important.
// Should be avoided if possible.
// The `@`-sign is used to determine at what breakpoint this grid is used.

/* stylelint-disable declaration-no-important */
.u-center {
  margin-right: auto;
  margin-left: auto;
}

.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-vertically-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-horizontally-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.u-relative {
  position: relative;
}

.u-z-above {
  z-index: z('above');
}

.u-absolute {
  position: absolute;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-flex {
  display: flex;
  flex-wrap: wrap;
}

.u-horizontal-alignment--left {
  justify-content: flex-start;
}

.u-horizontal-alignment--center {
  justify-content: center;
}

.u-horizontal-alignment--right {
  justify-content: flex-end;
}

.u-vertical-alignment--top {
  align-items: flex-start;
}

.u-vertical-alignment--middle {
  align-items: center;
}

.u-vertical-alignment--bottom {
  align-items: flex-end;
}

.u-equal-height {
  align-items: stretch;
}

/* stylelint-enable declaration-no-important */
