// Wrapper
//
// Wrappers are used to limit the max-width of an element.
%wrapper,
.o-wrapper {
  @extend %clearfix;
  position: relative;
  box-sizing: content-box;
  max-width: $wrapper;
  margin-right: #{map-deep-get($wrapper-margins, 'default', 'default')};
  margin-left: #{map-deep-get($wrapper-margins, 'default', 'default')};
  width: calc(100% - (#{map-deep-get($wrapper-margins, 'default', 'default')} * 2));
}
